@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h3 {
    @apply text-3xl text-orange-600 font-semibold pb-1 text-center sm:text-4xl;
  }
  h3 > span:nth-of-type(1) {
    @apply h-[1px] flex-1 mr-3 sm:hidden;
  }
  h3 > span:nth-of-type(2) {
    @apply h-[1px] flex-1 ml-3;
  }
  img {
    @apply select-none;
  }
}

@layer components {
  /* ScrollBar */
  ::-webkit-scrollbar {
    width: 8px;
    transition: background 0.2s ease;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-300 rounded-full;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-orange-600/50;
  }
  .suggestions-box::-webkit-scrollbar {
    width: 6px;
  }

  .btn {
    @apply bg-orange-600 text-white rounded-full px-4 py-3 text-base font-medium border-2 border-orange-600 tracking-wide shadow-md shadow-orange-600/20 hover:bg-white hover:text-orange-600 hover:-translate-y-1 active:translate-y-1 active:shadow-orange-600/30 active:shadow-lg duration-200 sm:text-lg;
  }

  @media (min-width: 768px) {
    .hero-section {
      min-height: calc(100vh - 75px);
    }
  }

  .quantity > * {
    @apply px-7 py-2 flex-1;
  }
  .cart-quantity > * {
    @apply px-3 py-1 flex-1;
  }

  .chip {
    @apply bg-gray-700 select-none rounded-full py-1 px-3 capitalize text-white shadow-md cursor-pointer hover:bg-gray-500 duration-200;
  }

  .grid-menu > a {
    @apply relative;
  }
  .grid-menu a::after {
    @apply absolute content-[""] inset-0 w-full h-full bg-black/30 hover:bg-black/20 transition-colors duration-200;
  }
  .grid-menu a h2 {
    @apply absolute left-1 bottom-2 text-white z-10 text-xl sm:text-4xl sm:left-3 sm:bottom-5;
  }

  .image-container {
    @apply overflow-hidden;
  }
  .image-container span {
    @apply w-full h-full;
  }

  /* Animation Bump */
  .bump > svg {
    animation: bump 300ms ease-out;
  }

  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.4);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
}

/* .swiper-button-prev,
.swiper-button-next {
  @apply text-indigo-200/80 bg-indigo-700/10 rounded-full w-10 h-10 hover:text-indigo-100 duration-200;
} */
.swiper-button-prev,
.swiper-button-next {
  @apply text-gray-100 bg-gray-700/40 rounded-full w-10 h-10 hover:text-indigo-100 duration-200;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  @apply text-2xl;
}

/* .suggestions-box {
  left: -20px;
  right: -20px;
} */

@media (min-width: 320px) {
  .product-box {
    width: 270px;
  }
}
@media (max-width: 640px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
